
.user-card-delete-button, .user-card-edit-button {
  cursor: pointer;
  margin-left: 8px;
}

.user-card-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.modal-edit-container {
  display: flex;
  align-items: center;
}
.modal-edit-img-container {
    display: flex;
    justify-content: center;
}

.edit-user-card-detail-form {
  margin-top: 20px;
}