
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.user-card-container {
  margin: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 4px 4px 0 rgb(0 0 0 / 19%);
}

.user-card-information {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.user-card-image {
  width: 220px;
  height: 330px;
}

.user-card-name {
  margin-top: 8px;
}

.user-card-price-container {
  display: flex;
  justify-content: flex-end;
}

.user-card-delete-button, .user-card-edit-button {
  cursor: pointer;
  margin-left: 8px;
}

.user-card-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.modal-edit-container {
  display: flex;
  align-items: center;
}
.modal-edit-img-container {
    display: flex;
    justify-content: center;
}

.edit-user-card-detail-form {
  margin-top: 20px;
  margin-left: 8px;
}


@media screen and (min-width: 300px) { 
  .user-card-image {
    width: 330px;
    height: 495px;
  }
}


@media screen and (min-width: 680px) { 
  /* tablet */

  .user-card-image {
    width: 220px;
    height: 330px;
  }

  .user-card-information {
    align-items: center;
  }
}

@media screen and (min-width: 1000px) { 
  /* desktop */
}