.user-card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin: auto;
}


@media screen and (min-width: 600px) { 
  /* tablet */
  .user-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
}

@media screen and (min-width: 1000px) { 
  /* desktop */
  .user-card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    width: 1200px;
  }
}