* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.available-card-container {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.available-card-information {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.available-card-image {
  width: 330px;
  height:495px;
  margin-top: 8px;
}

.available-card-price-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 600px) { 
  /* tablet */

  .available-card-image {
    width: 220px;
    height: 330px;
  }

  .available-card-information {
    align-items: center;
  }
  
}

@media screen and (min-width: 1000px) { 
  /* desktop */
}