* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.available-card-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%), 0 4px 4px 0 rgb(0 0 0 / 19%);
}

.available-card-information {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.available-card-image {
  width: 330px;
  height:495px;
}

.available-card-price-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 600px) { 
  /* tablet */

  .available-card-image {
    width: 220px;
    height: 330px;
  }

  .available-card-information {
    align-items: center;
  }
}

@media screen and (min-width: 1000px) { 
  /* desktop */
}