.available-card-container {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.available-card-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.available-card-price-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 600px) { 
  /* tablet */
  .available-card-information {
    width: 80%;
    align-items: center;
    padding: 8px;
  }
  
  
}

@media screen and (min-width: 1000px) { 
  /* tablet */
  /* .available-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    /* grid-template-columns: 16px; */
  /* }  */
  
}