.header {
    height: 80px;
    width: 100%;
    border: 1px solid green;

    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
}

.header__link {
    text-decoration: none;
}