.layout {
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* .main-container {
  flex: 1;
  height: calc(100% - 120px);
  overflow: auto;
} */

* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.main-container {
  flex: 1;
  overflow: auto;

}

@media screen and (min-width: 600px) { 
  /* tablet */
 
}

@media screen and (min-width: 800px) { 
  /* desktop */

}