.poke-card-list {
  /* display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin: auto;
   */
   padding: 20px 0;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content: space-between;
}

@media screen and (min-width: 600px) { 
  /* tablet */
  .poke-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}


@media screen and (min-width: 1200px) { 
  /* desktop */
  .poke-card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    width: 1200px;
  }
}